
.bordog {
	border-width: 0px 2px 0px 0px;
	border-style: solid;
	border-color: #78c2ad;
}
.bordo2g {
	border-width: 1px 2px 2px 1px;
	border-style: solid solid solid hidden;
	border-color: #78c2ad;
}
.bordo4 {
	border-width: 1px;
	border-style: hidden dotted hidden hidden;
	border-color: #888;
}

.marquee {
	animation: scroll 3.5s linear infinite;
	position: absolute;
}
@keyframes scroll {
	0% {
		transform: translateX(-10%);
		opacity: 0;
	}
	5% {
		opacity: 1;
	}
	90% {
		opacity: 1;
	}
	100% {
		transform: translateX(-90%);
		opacity: 0;
	}
}

.sfondo {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.ptsfondo {
	font-weight: bold;
	color: #FFFFFF;
	text-shadow: 2px 2px 4px #000000;
}

.ptcappotto {
	-webkit-animation: rotateOnY 2s infinite linear;
    animation: rotateOnY 2s infinite linear;
}

@-webkit-keyframes rotateOnY {
	to {
		-webkit-transform: rotateY(360deg);
		transform: rotateY(360deg);
	}
}

@keyframes rotateOnY {
	to {
		-webkit-transform: rotateY(360deg);
		transform: rotateY(360deg);
	}
}

.img-bn {
	filter: grayscale(100%);
}

:root { --altezza-riga: 30px; }
@media (min-width: 768px) {
	:root { --altezza-riga: 33px; }
}

.rigatabella {
	height: var(--altezza-riga);
}

.nuovariga {
	animation: comparsa 2s ease-out;
}
@keyframes comparsa {
	0% {
		filter: brightness(10) blur(6px);
		height: 80px;
		padding-top: 30px;
	}
	30% { padding-top: 0px; }
	50% {
		filter: brightness(1) blur(0px);
		height: var(--altezza-riga);
	}
	51% { filter: drop-shadow(0px 15px 15px black); }
	100% { filter: none; }
}

.orario_turno {
	font-family: monospace;
}